<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [2]:
# Data Science Tools and Ecosytem

In [3]:
# In this notebook, Data Science Tools and Ecosystem are summarized

In [2]:
# Some of the popular languages that Data Scientists use are:
languages = ["Python", "R", "SQL", "Julia", "Scala"]

# Print an order list using a loop
for i, language in enumerate(languages, start=1):
    print(f"{i}.{language}")

1.Python
2.R
3.SQL
4.Julia
5.Scala

In [6]:
import pandas as pd

# Create a DataFrame with the data
data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'Apache Zeppelin']}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2    Apache Zeppelin

In [3]:
import pandas as pd

# create a markdown cell with a table of Data Science tools
data = {'Data Science Tools': ['MongoDB', 'Apache SparkSQL', 'TensorFlow']}

df = pd.DataFrame(data)

df

  Data Science Tools
0            MongoDB
1    Apache SparkSQL
2         TensorFlow

In [4]:
# Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [8]:
# This is the content for the markdown cell
from IPython.display import Markdown, display

display(Markdown("""
**Objectives:**

- List popular languages for Data Science
- Understand the importance of data analysis
- Learn the basics of machine learning
- Explore popular tools used for data science
- Work with data structures in Python
"""))

**Objectives:**

- List popular languages for Data Science
- Understand the importance of data analysis
- Learn the basics of machine learning
- Explore popular tools used for data science
- Work with data structures in Python